
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 15px;
}
p{
	margin: 15px;
	background: #ff733a;
	font-size: 50px;
	width: 300px;
	height: 120px;
	display: table-cell;
	vertical-align: middle;
}
hr{
	margin: 5px;
}
a {
	margin: 15px;
	display: inline-block; 
	padding: 0 20px
}

img{
	height: 60px;
	width: 100px;
	display: block;
}
