div{
	width: 500px;
	height: 80px;
	border: 2px;
	border-style: dashed;

}
p{
	margin-top: 2px;
}
sub.blue{
	color: blue;
}
sup.red{
	color: red;
}
a.link {
	display: inline-block; 
	padding: 20px 20px;
	
	}
